body { 
	font-size: 16px;
	color: #000;
	background-color: #4e4e4e;
	font-family: 'Verdana', sans-serif;
}

/** HEADER **/
#header {
	background-color: #ff5733;
	border-radius: 0;
	border: 0;
}

#brand {
	text-transform: uppercase;
	color: #581845;
}

.page-header {
	border-bottom: none;
}

#content {
	background-color: #a8a5a7;
	border: 1px solid #000;
	height: 1000px;
}